.newPatient {
  flex: 4;
}

.addPatientForm {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.addPatientItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 20px;
}

.addPatientItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addPatientItem > input {
  padding: 10px;
}

.addPatientItem > select {
  padding: 10px;
}

.addPatientButton {
  margin-top: 10px;
  margin-left: 20px;
  padding: 7px 10px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
}

.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 30px;
  height: 17px;
  background: grey;
  border-radius: 30px;
  position: relative;
  transition: background-color .2s;
}

.react-switch-label .react-switch-button {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 13px;
  height: 13px;
  border-radius: 13px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 15px;
}