
      .hospitalInfoBeds {
        margin-right: 20px;
        cursor: pointer;
      }

      .featuredForPatient {
            height: 90vh;
            position: relative;
        }

        .coverimg {
            width: 100%;
        height: 100%;
        object-fit: cover;
        
    }

    .hospitalListForPatient{
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .hospitalInfoForPatient{
        margin: 10px;
        border-radius: 10px;
        padding: 0px 50px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      border-style: solid;
      height: 60px;
    }

    .hospitalPic{
        width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
    }

    .hospitalInfoItemForPatient{
        display: flex;
    }
    
    .hospitalInfoName{
        margin-top: 10px;
    }

    .hospitalInfoName, .hospitalInfoBeds{
        font-weight: 600;
        font-size: large;
    }

    .hospitalInfoButtonForPatient{
        background-color: green;
    }

    .hospitalInfoItemHidden{
        display: flex;
    }

    .hospitalInfoNameHidden{
        margin-top: 10px;
        font-weight: 600;
        font-size: large;
    }

@media screen 
  and (max-width: 426px) {
    .featuredForPatient{
      height: 60vh;
    }

    .hospitalInfoForPatient{
      display: flex;
      flex-direction: column;
      height: 300px;
    }

    .hospitalInfoItemForPatient{
      margin: 10px;
    }
}

