.editInfo{
    font-weight: 600;
    font-size: 35px;
    color: black;
    margin-left: 20px;
}

.profileinfo{
    border-radius: 20px;
    border-style: solid;
    border-color: green;
    margin: 20px;
    align-content: center;
}

.profileedit{
    margin: 10px 10px;
}

.profileInput{
    border: none;
    padding: 5px;
    border-bottom: 1px solid black;
}

.profileLable{
  color: black;
  font-weight: 600;
  font-size: 18px;
}

.divItem{
    margin-bottom: 10px;
    width: 392px;
    height: 70px;
    text-align: center;
    color: black,
}

.divItemtext{
    padding: 8px 8px;
    margin-left: 50px;
}

.p-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-left: 60px;
    margin-bottom: 8px;
}

.react-switch-checkbox{
    margin-left: 10px;
}

.profilebtnUpdate{
    background-color: green;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    padding: 5px 10px;
}

.profilebtnUpload{
    background-color: rgb(21, 176, 21);
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 5px;
}

@media screen 
  and (max-width: 426px) {
     .divItem{
        width: 355px;
        display: flex;
        justify-content: center;
     } 

    .divItemtext{
        width: 350px;
        margin: 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
